{% extends "planner/base.html" %} {% block title %}Habits | AI Habit Tracker
{%endblock %} {% block content %}
<h1 class="page-title">Habits</h1>

<div class="info-card" style="max-width: 700px">
  <h2>Manage Your Daily Habits</h2>
  <p>Create, edit, delete and track your habits.</p>

  <div style="margin-top: 20px">
    <form
      class="info-card habit-form-card"
      style="background: #101231"
      method="post"
    >
      {% csrf_token %}
      <h3>Add New Habit</h3>

      <input
        type="text"
        name="habit_name"
        placeholder="Habit name"
        style="
          padding: 10px;
          width: 100%;
          border-radius: 10px;
          border: none;
          margin-top: 10px;
        "
      />
    

      <button
        class="habit-add-btn"
        style="
          margin-top: 10px;
          padding: 10px 15px;
          border-radius: 10px;
          color: white;
          border: none;
        "
      >
        Add Habit
      </button>
    </form>
  </div>

  <h3 style="margin-top: 25px">Your Habits</h3>

  {% if habit_data %} {% for item in habit_data %}
  <div class="card habit-card" style="margin-top: 12px">
    <div class="card-header">
      <span>{{ item.habit.name }}</span>

      <!-- Delete Habit Button -->
      <a
        href="{% url 'delete_habit' item.habit.id %}"
        style="color: #ff6b6b; font-size: 14px; margin-left: 10px"
        onclick="return confirm('Delete this habit?');"
      >
        <i class="fas fa-trash"></i>
      </a>
    </div>

    <!-- Toggle Done / Not Done -->
    <form method="post" action="{% url 'toggle_habit_today' item.habit.id %}">
      {% csrf_token %}

      <div class="progress-wrapper" style="margin-top: 8px; gap: 10px">
        <span>Status</span>
        {% if item.done_today %}
        <span class="pill pill-blue">Done</span>
        {% else %}
        <span class="chip chip-orange">Not Done</span>
        {% endif %}
      
        <button
          type="submit"
          style="
            margin-left: auto;
            padding: 6px 10px;
            border-radius: 8px;
            border: none;
            background: #101231;
            color: white;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Toggle
        </button>
      </div>
    </form>
  </div>
  {% endfor %} {% else %}
  <p style="margin-top: 10px">No habits yet. Add one above.</p>
  {% endif %}
</div>
{% endblock %}
