{% extends "planner/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<h1 class="page-title">Login</h1>

<div class="info-card login-card-enhanced" style="max-width:400px;text-align:center;">
    <h2 style="margin-bottom:15px;">Welcome Back</h2>
<form method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Email" class="auth-input">
    <input type="password" name="password" placeholder="Password" class="auth-input">

    <button class="auth-btn">Login</button>
</form>

</div>
{% endblock %}
