{% extends "planner/base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h1 class="page-title">Create Account</h1>

<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}

    <div class="info-card register-card-enhanced" style="max-width:450px;text-align:center;">
        <h2 style="margin-bottom:15px;">Join the AI Habit Tracker</h2>

        <input type="text" name="name" placeholder="Name" class="register-input" required>
        <input type="email" name="email" placeholder="Email" class="register-input" required>
        <input type="password" name="password" placeholder="Password" class="register-input" required>

        <button class="register-btn" type="submit">
            Register
        </button>

        <p style="margin-top:10px;">
            Already have an account?
            <a href="{% url 'login' %}" style="color:#9da2ff;">Login</a>
        </p>
    </div>
</form>
{% endblock %}
