{% extends "planner/base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h1 class="page-title">Create Account</h1>

<div class="info-card" style="max-width:450px;text-align:center;">
    <h2>Join the AI Habit Tracker</h2>

    <input type="text" placeholder="Name" style="padding:10px;width:100%;border-radius:10px;border:none;margin-top:10px;">
    <input type="email" placeholder="Email" style="padding:10px;width:100%;border-radius:10px;border:none;margin-top:10px;">
    <input type="password" placeholder="Password" style="padding:10px;width:100%;border-radius:10px;border:none;margin-top:10px;">

    <button style="margin-top:15px;padding:10px 15px;border-radius:10px;background:#6f5bff;color:white;border:none;width:100%;">
        Register
    </button>

    <p style="margin-top:10px;">
        Already have an account?
        <a href="{% url 'login' %}" style="color:#9da2ff;">Login</a>
    </p>
</div>
{% endblock %}
